pip
bump2version
wheel
watchdog
tox
coverage
twine
pytest
pytest-runner

isort
yapf

flake8
flake8-mock
flake8-mypy
flake8-string-format
flake8-isort
flake8-commas
flake8-quotes
flake8-copyright
flake8-pep3101
flake8-bandit
flake8-import-order
flake8-blind-except
flake8-builtins
flake8-docstrings
flake8-rst-docstrings
flake8-logging-format

# https://github.com/PyCQA/pydocstyle/issues/375
pydocstyle<4.0.0